@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    background-color: white;
    font-family: "Inder", sans-serif;
    font-size: 400;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.logoAlura {
    padding-top: 5px;
    width: 2%
}

main {
    display: flex;
    margin: 50px;
    margin-left: 80px;
}

.text__area {
    margin: 60%;
    width: 700px;
    height: 150%;
    resize: none;
    display: flex;
    text-align: justify;
    font-weight: 400;
    line-height: 48px;
    font-size: 32px;
    font-family: "Inder", sans-serif;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.text__area::placeholder {
    color: #30beb3;
}

.text__area:focus {
    outline: none;
    text-align: left;
}

.imagem-procurando {
    width: 336px;
    height: 304px;
    top: 283px;
    left: 1032px;
    gap: 0px;
    opacity: 0px;
}

.mensagem {
    z-index: -1;
    color: #021886;
    width: 400px;
    height: 635px;
    position: absolute;
    left: 950px;
    top: 25px;
    background-color: white;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    border-radius: 24px;
    border-color: #0A3871;
    margin-left: 98px;
    margin-top: 0px;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 400;
    resize: none;
}

.mensagem::placeholder {
    color: #011b9b;
}

.informacoes {
    display: flex;
    height: 16px;

}

.exclamacao {
    margin-right: 8px;
}

.mensagem__informacoes {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: justify;
    font-size: 12px;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn__desencriptar {
    color:  rgba(228, 215, 32, 0.863);
    width: 328px;
    height: 67px;
    position: absolute;
    margin-top: 50px;
    font-size: 16px;
    background-color: #1b227c;
    border-radius: 24px;
    border: 1px solid #0A3871;
    margin-left: 400px;
    cursor: pointer;
}

.btn__encriptar {
    width: 328px;
    height: 67px;
    position: absolute;
    margin-top: 50px;
    font-size: 16px;
    background-color: rgba(228, 215, 32, 0.863);
    color:#1b227c;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.mensagemsubtitulo {
    width: 336px;
    height: 58px;
    position: absolute;
    left: 985px;
    font-size: 16px;
    color: #1b227c;
    margin-left: 108px;
    margin-top: 380px;
    text-align: center;

}

.containerparagrafo {
    width: 336px;
    height: 48px;
    position: absolute;
    left: 985px;
    font-size: 16px;
    color: #1b227c;
    margin-left: 108px;
    margin-top: 400px;
    text-align: center;

}

.copiar {
    width: 336px;
    height: 67px;
    position: absolute;
    left: 985px;
    font-size: 16px;
    color: rgba(228, 215, 32, 0.863);
    background-color: #1b227c;
    border-radius: 24px;
    border: 1px solid #0A3871;
    margin-left: 108px;
    margin-top: 460px;
    text-align: center;
    cursor: pointer;

}

.informacao {
    color: #000000;
    font-size: 18px;
}

.ocultar {
    display: none;
}

.ocultarMensagem {
    display: none;
}

.rodape {
    color: #000000;
    font-weight: 400;
    justify-content: center;
    margin-right: 100px;
    margin-left: 60px;
    font-size: 1rem;
    margin-top: 300px;
    padding: 10px;
    text-align: center;
    width: 3 36px;
    height: 20px;
}
